@use "../abstract/variable" as *;

.container {
  max-width: 80rem;
  margin: 0 auto;
  max-height: 78vh;
  background-color: $color-white;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.2);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.h1 {
  color: $color-primary;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0.5rem;
  // margin-left: .5rem;
}

p {
  color: $color-grey-dark-2;
  margin: 1rem 0 1rem 0.5rem;
  font-size: 1.5rem;
  box-decoration-break: clone;
  line-height: 2rem;
}

.help {
  color: $color-grey-dark-2;
  margin-right: auto;

  & > a:link,
  a:visited {
    font-size: 1.2rem;
    color: inherit;
    text-transform: none;
    text-decoration: none;
  }
}

.line-text {
  display: flex;
  align-items: center;
  text-align: center;

  p {
    margin: 0 0.5rem; // spacing between text and lines
    white-space: nowrap; // prevents text breaking
  }

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid $color-grey-dark-2;
  }
}
