@use "../abstract/variable" as *;
@use "../abstract/mixin" as *;

.attendance-dashboard {
  padding: 3rem;

  h1 {
    margin-bottom: 1.5rem;
    color: $color-primary;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .summary-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
    margin-bottom: 4rem;

    .card {
      background: #fff;
      padding: 2.5rem;
      border-radius: 1.4rem;
      text-align: center;
      box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.08);

      h2 {
        font-size: 3.2rem;
        margin: 0;
      }

      p {
        margin-top: 0.6rem;
        font-size: 1.4rem;
        font-weight: 500;
      }

      &.total {
        background: #e3e7ff;
      }

      &.present {
        background: #e7f9ef;
      }

      &.late {
        background: #fff9e6;
      }

      &.absent {
        background: #ffe8e8;
      }
    }
  }

  //   .charts {
  //     margin-top: 2rem;
  //     display: grid;
  //     grid-template-columns: 1fr 1fr;
  //     gap: 2.5rem;

  //     .chart {
  //       background: #fff;
  //       padding: 2.5rem;
  //       border-radius: 1.4rem;
  //       box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.08);

  //       h3 {
  //         margin-bottom: 2rem;
  //         font-size: 1.8rem;
  //         color: #444;
  //       }
  //     }
  //   }
  // }

  .charts {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .chart {
      background: #fff;
      padding: 1.5rem;
      border-radius: 1rem;
      box-shadow: 0 3px 0.8rem rgba(0, 0, 0, 0.08);
      height: 30rem;
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #444;
      }

      canvas {
        flex: 1;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
