@use "../abstract/variable" as *;
@use "../abstract/mixin" as *;

.status-dropdown {
  position: relative;
  width: 120px;
  font-size: 14px;

  .dropdown-display {
    background: #f5f5f5;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dcdcdc;

    .arrow {
      font-size: 11px;
    }
  }

  .dropdown-menu {
    position: absolute;
    background: white;
    width: 100%;
    top: 36px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 5px 0;

    li {
      padding: 8px 12px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: #efefef;
      }
    }
  }
}
