@use 'abstract/function';
@use 'abstract/mixin';
@use 'abstract/variable';

@use 'base/base';
@use 'base/typography';

@use 'component/button';
@use 'component/component';
@use 'component/form';
@use 'component/grid';
@use 'component/login';
@use 'component/logo';
@use 'component/sidebar';
@use 'component/table';

@use 'layout/footer';
@use 'layout/header';
@use 'layout/hero';

@use 'pages/home';
@use 'pages/admin';
@use 'pages/security';
// @use 'pages/home';


body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}