@use "../abstract/variable" as *;
@use "../abstract/mixin" as *;

.home-layout {
  min-height: 100vh;
  width: 100%;
  background: url("/img/5197214.jpg") no-repeat center center/cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center; // horizontally center
  align-items: center; // vertically center
  padding: 1rem 0; // small padding so it never sticks
}

.container {
  width: 80rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
}

.hero {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 6rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8rem;
  // max-width: $grid-width;

  .hero-text,
  .hero-image {
    flex: 1;
  }

  .hero-text {
    .btn {
      display: flex;
      gap: 1rem;
    }
  }

  .hero-image {
    img {
      max-width: 90%;
      width: 30rem;
      height: auto;
      display: block;
    }
  }

  @media (max-width: 768px) {
    margin-top: 8rem;

    .hero-content {
      flex-direction: column-reverse;
      gap: 3rem;
      text-align: center;

      .hero-text,
      .hero-image {
        flex: 100%;
      }

      .hero-text {
        padding-right: 0;

        h1 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1rem;
        }

        .btn {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
