$color-primary: #1e3a8a;
$color-primary-light: #314e97;
$color-secondary: #f97316;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-white: #fff;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

//Confirmation Color
$color-green: #28a745;
$color-red: #dc3545;
$color-yellow: #ffc107;

$color-black: #000;

//SIZE
$font-size-1: 8rem;
$default-font-size: 1.2rem;

$letter-spacing-1: 5rem;

$font-size-2: 3rem;
$letter-spacing-2: 2.15rem;

//GRID
$grid-width: 85%;
$gutter-vertical: 1rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 0rem;
